@use "../abstracts" as *;
@use "../components" as *;


article {
  column-gap: 5rem;
  padding: 1.5rem;
  margin: 2rem;
  background: radial-gradient(circle, hsl(311, 23%, 91%) 0%, hsl(66, 16%, 87%) 91%, hsl(312, 15%, 87%) 100%);
  box-shadow: -2px -2px 20px 5px rgb(204, 204, 204);
}

p {
  font-family: $body-font-family;
  line-height: $body-line-height;
  padding: 2rem 0;
  color: #555;
}

.header {  
  .hero {
    position: relative;
    padding: 5rem;

    &::before {
      content: "";
      position: absolute;
      @include hero-bg;
    }

    &__container {
      h1.hero__title {
        position: relative;
        color: $primary-color;
        font-size: $h1-size;
        line-height: $h4-line-height;
        padding-bottom: 1rem;
      }

      @include for-size(phone) {
        h1.hero__title {          
        font-size: $h2-size;
        line-height: $h3-line-height;
        padding: 3rem 0;
        }
      }

      @include for-size(tablet) {
        h1.hero__title {
          font-size: $h2-size;
          line-height: $h3-line-height;
        }
      }

      .hero__subheader {
        color: #15202b;
        font-family: $body-font-family;
        font-size: $h2-size;
        position: relative;
        padding-bottom: 1rem;
      }

      @include for-size(phone) {
        .hero__subheader {
          font-size: $h6-size;
          line-height: $h5-line-height;
        }
      }

      @include for-size(tablet) {
        .hero__subheader {
          font-size: $h5-size;
          line-height: $h5-line-height;
        }
      }

      @include for-size(desktop) {
        .hero__subheader {
          width: 80vw;
        }
      }

      .author {
        font-style: italic;
        opacity: 0.9;
      }

      .hero__cta {
        @include button;
        background-color: #037820;
        color: #cdc8c8;
        cursor: pointer;
        font-size: 1.5rem;
        grid-column: 2;
        margin: 1rem 0;
        position: relative;
        width: max-content;
      }
    }
  }
}

.main {  
  figure {
    
    }
  }
  .page-title {
  background: linear-gradient(90deg, rgba(17,16,0,1) 0%, rgba(68,68,68,1) 50%, rgba(17,16,0,1) 100%);
  grid-column: 2;
  padding: 3rem 0;
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-size: $h2-size;
    color: #e8ebd9;
    span {
      border-bottom: 1px solid #999;
    }
  }  
}

  section {
    padding: 1.5rem 0;
  }

  h2 {
    // @include heading-styles;
    font-size: $h4-size;
    line-height: $h4-line-height;
    color: #e8ebd9;
  }

  h3 {
    @include heading-styles;
    font-size: $h6-size;
    line-height: $h6-line-height;
  }

  p {
    max-width: 600px;
  }

  @include for-size(desktop) {
    p {
      max-width: 75vw;
    }
  }

  figure {
    display: block;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    justify-self: start;
    text-align: center;
    align-self: center;

    @include for-size(desktop) {
      figure {
        justify-self: center;
      }
    }
    
    @include for-size(tablet) {
      .disasters__plight {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
    img {
      border-radius: 5px;
    }
  }

  // MISSION
  .mission {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr; 

    &__headergroup {
      align-self: center;
      h2 {
        color: #333;
      }
    }
  }

  @include for-size(tablet) {
    .mission {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  //DISASTERS
  .disasters {
    grid-column: 2;

    h2 {
      color: #333;
    }

    .disasters__plight {
      align-items: center;
      display: grid;
      column-gap: 5rem;
      justify-items: center;

      p {
        align-self: center;
      }
    }

    @include for-size(tablet) {
      .disasters__plight {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }

  .solution {
    grid-column: 2;

    h2 {
      color: #333;
    }
  }

  


