@use "../abstracts" as *;

nav {
  align-items: center;
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 25px;
}

.nav-ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 50px;
}

.hamburger:focus {
  outline: none;
}

.nav-ul li a {
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.1rem;
  padding: 10px 25px;
  text-decoration: none;
}

.nav-ul {
  display: none;
  flex-direction: column;
  width: 100%;
}

.nav-ul.show {
  display: flex;
  height: 80vh;
}

.nav-ul li {
  width: 100%;
  text-align: center;
}

.nav-ul li a {
  padding: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  text-transform: uppercase;
}

.hamburger {
  display: block;
}

.btn {
  width: 100%;
}

.logo {
  width: 80px;
}

