

@font-face {
   font-family: Lora;
   src: url(../../dist/fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
   font-family: OpenSans;
   src: url(../../dist/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
   font-family: OpenSans-semi;
   src: url(../../dist/fonts/OpenSans/OpenSans-SemiBold.ttf);
}