$primary-color:#15202b;

$border-radius: 5px;
$CTA-padding: .5rem .75rem;
$text-transform: uppercase;
$CTA-font-weight: 600;

$h1-size: 76px;
$h2-size: 60px;
$h3-size: 47px;
$h4-size: 37px;
$h5-size: 29px;
$h6-size: 23px;

$h1-line-height: 113px;
$h2-line-height: 89px;
$h3-line-height: 70px;
$h4-line-height: 56px;
$h5-line-height: 44px;
$h6-line-height: 35px;

$body-line-height: 31px;



$header-font-family: Lora;
$body-font-family:OpenSans-semi;